
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Longhorn Coding Academy!</h1>

<a asp-action="Index" asp-controller="Courses" class="btn btn-success">View Our Courses</a>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Index" asp-controller="Registrations" class="btn btn-info">View Registrations</a>

    if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Departments" class="btn btn-danger">View Departments</a>
        <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-warning">Manage Users</a>
    }

}
